html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.animated-bg {
  position: fixed;
  width: 200%;
  height: 200%;
  background: linear-gradient(60deg, #986c6c, #0C0F31, #ffffff, #190654, #1f2020);
  background-size: 1000% 1000%;
  animation: gradientFlow 25s ease infinite;
  z-index: -3;
  top: -50%;
  left: -50%;
  filter: brightness(0.7) contrast(1.2) saturate(1.3);
}
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#loading-screen {
  position: fixed;
  inset: 0;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.progress-container {
  width: 200px;
  height: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 9999px;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #ef4444;
  animation: progressFill 2s ease-out forwards;
  border-radius: 9999px;
}
@keyframes progressFill {
  from { width: 0%; }
  to { width: 100%; }
}

.neon {
  text-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d;
  box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d;
}

.link-btn {
  background-color: #ef4444;
  color: white;
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 9999px;
  box-shadow: 0 5px 15px rgba(255, 100, 100, 0.8);
  transition: all 0.2s ease;
  display: inline-block;
  text-align: center;
}
.link-btn:hover {
  transform: scale(1.05);
}

.vibrate {
  animation: vibrate 0.7s ease;
}
@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.kotak-tumpul {
  width: 100%;
  max-width: 500px;
  border: 2px solid #333;
  border-radius: 13px;
  padding: 8px;
  background-color: #f9f9f9;
}
video {
  width: 100%;
  border-radius: 15px;
}

.socials {
  display: flex;
  justify-content: center; /* biar tetap di tengah */
  gap: 6px;
  margin-top: 20px;
}

.socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: var(--glass);
  border: 1px solid rgba(255,255,255,0.02);
  text-decoration: none;
  color: var(--accent);
  border: 2px solid #ffffff;
  font-weight: 700;
  transition: transform .12s, box-shadow .12s;
}

.socials a:hover {
  transform: translateY(-4px);
  border: 2px solid #ff0101;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
